@model EmotionPlatzi.Web.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexSinLayout</title>
</head>
<body>
    <div>
        <h2>@Model.WelcomeMessage</h2>
    </div>
    <footer>
        <h3>@Model.FooterMessage</h3>
    </footer>
</body>
</html>
